@import url('https://fonts.googleapis.com/css?family=Allura|Josefin+Sans');

@font-face {
  font-family: "Roboto-Regular";
  src: url("../assets/fonts/roboto/Regular/Roboto-Regular.woff2") format("woff2"), url("../assets/fonts/roboto/Regular/Roboto-Regular.woff") format("woff"), url("../assets/fonts/roboto/Regular/Roboto-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Roboto-Bold";
  src: url("../assets/fonts/roboto/Bold/Roboto-Bold.woff2") format("woff2"), url("../assets/fonts/roboto/Bold/Roboto-Bold.woff") format("woff"), url("../assets/fonts/roboto/Bold/Roboto-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "Roboto-Black";
  src: url("../assets/fonts/roboto/Black/Roboto-Black.woff2") format("woff2"), url("../assets/fonts/roboto/Black/Roboto-Black.woff") format("woff"), url("../assets/fonts/roboto/Black/Roboto-Black.ttf") format("truetype");
}
@font-face {
  font-family: "Roboto-Light";
  src: url("../assets/fonts/roboto/Light/Roboto-Light.woff2") format("woff2"), url("../assets/fonts/roboto/Light/Roboto-Light.woff") format("woff"), url("../assets/fonts/roboto/Light/Roboto-Light.ttf") format("truetype");
}
@font-face {
  font-family: "Roboto-Medium";
  src: url("../assets/fonts/roboto/Medium/Roboto-Medium.woff2") format("woff2"), url("../assets/fonts/roboto/Medium/Roboto-Medium.woff") format("woff"), url("../assets/fonts/roboto/Medium/Roboto-Medium.ttf") format("truetype");
}
@font-face {
  font-family: "Roboto-Thin";
  src: url("../assets/fonts/roboto/Thin/Roboto-Thin.woff2") format("woff2"), url("../assets/fonts/roboto/Thin/Roboto-Thin.woff") format("woff"), url("../assets/fonts/roboto/Thin/Roboto-Thin.ttf") format("truetype");
}
@font-face {
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  src: url("../assets/fonts/MaterialIcons-Regular.woff") format("woff");
}
.material-icons {
  font-family: "Material Icons";
  font-style: normal;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-feature-settings: "liga";
  font-feature-settings: "liga";
}

* {
  margin: 0;
  padding: 0;
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

html {
  font-size: 16px;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  font-family: "Roboto-Regular";
  color: #333;
  font-size: 0.875rem;
  overflow: hidden;
  position: relative;
}
body.hidden {
  overflow: hidden !important;
}

body.preloader-site {
  overflow: hidden;
}

.preloader-wrapper {
  position: fixed;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #0072ff;
  z-index: 999;
}
.preloader-wrapper .preloader {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.preloader-wrapper .preloader .name {
  letter-spacing: 0.1875rem;
  font-size: 4.375rem;
  text-transform: uppercase;
  font-family: "Roboto-Black";
  color: #fff;
  margin-bottom: 8vh;
}

.spinner {
  width: 4.375rem;
  text-align: center;
}
.spinner div {
  width: 1.125rem;
  height: 1.125rem;
  background-color: #fff;
  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}
.spinner div.bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.spinner div.bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}
@-webkit-keyframes sk-bouncedelay {
  0%, 100%, 80% {
    -webkit-transform: scale(0);
  }
  40% {
    -webkit-transform: scale(1);
  }
}
@keyframes sk-bouncedelay {
  0%, 100%, 80% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  40% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

.middle {
  width: 81.25rem;
  margin: auto;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2.8125rem;
  background: linear-gradient(90deg, #0072ff 0%, #00d4ff 100%);
  color: #fff;
  border-radius: 0.3125rem;
  transition: filter 0.3s;
  min-width: 6.875rem;
  cursor: pointer;
}

.animated {
  animation-duration: 0.4s !important;
}

header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 7.5rem;
  padding: 0 1.875rem;
  box-sizing: border-box;
  z-index: 99;
  transition: 0.3s;
  color: #fff;
}
header .middle {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .middle .logo {
  letter-spacing: 0.0625rem;
  background: linear-gradient(90deg, #0072ff 0%, #00d4ff 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
header .middle .right {
  display: flex;
  align-items: center;
}
header .middle .right nav {
  overflow: hidden;
  margin-right: 1.25rem;
}
header .middle .right nav ul {
  display: flex;
}
header .middle .right nav ul li {
  margin: 0 1.25rem;
}
header .middle .right nav ul li a {
  position: relative;
  font-family: "Roboto-Medium";
  text-transform: uppercase;
  display: block;
  padding: 0.625rem 0.125rem;
}
header .middle .right nav ul li a::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  bottom: 0;
  height: 0.125rem;
  width: 0;
  display: block;
  transition: all 0.15s 0.1s ease-out;
  background: #fff;
}
header .middle .right nav ul li a:hover::before {
  width: 100%;
}
header .middle .right #for-user {
  position: relative;
  min-width: 14.375rem;
}
header .middle .right #for-user .auth {
  position: relative;
  display: flex;
}
header .middle .right #for-user .auth .btn {
  font-family: "Roboto-Medium";
  width: 5.625rem;
  height: 2.8125rem;
  border-radius: 0.3125rem;
  margin-right: 0.625rem;
  transition: height 0.3s;
  transition: 0.3s;
}
header .middle .right #for-user .auth .btn:hover {
  box-shadow: inset calc(7.1875rem) 0 0.625rem #0072ff;
}
header .middle .right #for-user .auth .btn:last-child {
  margin-right: 0;
}
header .middle .right #for-user .authorized {
  position: relative;
}
header .middle .right #for-user .authorized ul {
  display: flex;
  height: 100%;
  align-items: center;
}
header .middle .right #for-user .authorized ul li {
  position: relative;
  margin-right: 1.25rem;
  display: flex;
  align-items: center;
  font-family: "Roboto-Medium";
}
header .middle .right #for-user .authorized ul li:last-child {
  margin-right: 0;
}
header .middle .right #for-user .authorized ul li .btn {
  transition: 0.3s;
}
header .middle .right #for-user .authorized ul li .btn:hover {
  box-shadow: inset calc(7.1875rem) 0 0.625rem #0072ff;
}
header .middle .right #for-user .authorized ul li:first-child::before {
  content: "";
  position: absolute;
  top: 0;
  left: -1.25rem;
  width: 0.0625rem;
  height: 100%;
  background: #fff;
}
header .middle .right #for-user .authorized ul li span {
  font-family: "Roboto-Light";
  white-space: nowrap;
  overflow: hidden;
  max-width: 3.75rem;
  text-overflow: ellipsis;
  margin-left: 0.3125rem;
}
header .middle .right #for-user .authorized ul li i {
  cursor: pointer;
  font-size: 1rem;
}
header .middle .right #for-user .authorized ul li i:hover {
  filter: brightness(0.8);
}
header .middle .right #for-user .preloader {
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  display: none;
}
header .middle .right #for-user .preloader.visible {
  display: flex;
}
header .middle .right #for-user .preloader .spinner div {
  background: #fff;
}
header .middle .menu-icon {
  display: none;
  position: absolute;
  right: 1.875rem;
  width: 1.5625rem;
  height: 2.125rem;
  top: 0;
  bottom: 0;
  margin: auto;
  z-index: 999;
}
header .middle .menu-icon span {
  position: absolute;
  display: block;
  width: 1.4375rem;
  height: 0.25rem;
  background: white;
  left: 0.00625rem;
  top: 0.875rem;
  border-radius: 0.0625rem;
}
header .middle .menu-icon span::before {
  content: " ";
  position: absolute;
  background: white;
  top: -0.4875rem;
  height: 0.25rem;
  left: 0rem;
  width: 1.4375rem;
  transition: 0.3s ease-out;
  border-radius: 0.0625rem;
}
header .middle .menu-icon span::after {
  content: " ";
  position: absolute;
  background: white;
  top: 0.475rem;
  left: 0rem;
  height: 0.25rem;
  width: 1.4375rem;
  transition: 0.3s ease-out;
  border-radius: 0.0625rem;
}
header .middle .menu-icon.toggle span {
  background: transparent;
}
header .middle .menu-icon.toggle span::before {
  transform: rotate(45deg);
  top: 0rem;
}
header .middle .menu-icon.toggle span::after {
  transform: rotate(-45deg);
  top: 0rem;
}
header.fixed {
  height: 3.75rem;
  background: rgba(255, 255, 255, 0.95);
  box-shadow: 0 0 0.625rem #909090;
  color: #333;
}
header.fixed .middle * {
  visibility: visible !important;
}
header.fixed .authorized ul li:first-child::before {
  background: #333 !important;
}
header.fixed .middle .right nav ul li a::before {
  background: #333;
}
header.fixed .btn {
  height: 2.3125rem !important;
}
header.fixed .preloader .spinner div {
  background: linear-gradient(90deg, #0072ff 0%, #00d4ff 100%) !important;
}
header.fixed .menu-icon span {
  background: #5d5d5d;
}
header.fixed .menu-icon span::before {
  background: #5d5d5d;
}
header.fixed .menu-icon span::after {
  background: #5d5d5d;
}
header.fixed .menu-icon.white span {
  background: transparent;
}
header.fixed .menu-icon.white span::before {
  background: #fff;
}
header.fixed .menu-icon.white span::after {
  background: #fff;
}
header .popup-overlay {
  display: flex;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(23, 129, 254, 0.35);
  transition: transform 0.4s;
  padding: 0 20px;
  box-sizing: border-box;
  transform: translateY(-100%);
}
header .popup-overlay .btn {
  height: 2.625rem !important;
  transition: 0.3s;
}
header .popup-overlay .btn:hover {
  box-shadow: inset calc(23.625rem) 0 0.625rem #0072ff;
}
header .popup-overlay .popup {
  position: relative;
  min-height: 22.5rem;
  width: 32.5rem;
  background-color: #fff;
  border-radius: 0.3125rem;
  color: #333;
  padding: 1.25rem 1.875rem 1.875rem;
  box-sizing: border-box;
  box-shadow: 0 0 1.25rem rgba(255, 255, 255, 0.4);
}
header .popup-overlay .popup img.close, header .popup-overlay .popup img.close-terms {
  position: absolute;
  top: 0.9375rem;
  right: 0.9375rem;
  cursor: pointer;
  opacity: 0.4;
  transition: opacity 0.2s ease-in-out;
}
header .popup-overlay .popup img.close:hover, header .popup-overlay .popup img.close-terms:hover {
  opacity: 0.8;
}
header .popup-overlay .popup .title {
  text-transform: capitalize;
  text-align: center;
  font-family: "Roboto-Black";
  font-size: 1.6875rem;
  background: linear-gradient(90deg, #0072ff 0%, #00d4ff 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
header .popup-overlay.signin .popup .success-dialog {
  display: none;
}
header .popup-overlay.signin .popup form.forgot-dialog {
  display: none;
}
header .popup-overlay.signin .popup form.forgot-dialog.success .title,
header .popup-overlay.signin .popup form.forgot-dialog.success ul {
  display: none;
}
header .popup-overlay.signin .popup form.forgot-dialog.success .success-dialog {
  display: block;
}
header .popup-overlay.signin .popup form.forgot-dialog.success .success-dialog .title {
  display: block;
}
header .popup-overlay.signin .popup.forgot-password {
  min-height: auto;
}
header .popup-overlay.signin .popup.forgot-password form.login-dialog {
  display: none;
}
header .popup-overlay.signin .popup.forgot-password form.forgot-dialog {
  display: block;
}
header .popup-overlay.signup .popup {
  overflow: hidden;
  width: 37.5rem;
}
header .popup-overlay.signup .popup.success {
  min-height: 13.4375rem;
  width: 31.25rem;
}
header .popup-overlay.signup .popup.success .title:not(:first-child),
header .popup-overlay.signup .popup.success form {
  display: none;
}
header .popup-overlay.signup .popup.success .success-dialog {
  display: block;
}
header .popup-overlay.signup .btn {
  transition: 0.3s;
}
header .popup-overlay.signup .btn:hover {
  box-shadow: inset calc(29.0625rem) 0 0.625rem #0072ff;
}
header .popup-overlay.signup .terms-and-conditions {
  position: absolute;
  top: 0;
  left: 0;
  padding: 1.5625rem;
  background: rgba(255, 255, 255, 0.97);
  height: 100%;
  box-sizing: border-box;
  transform: translateY(-100%);
  transition: 0.3s;
  height: 100%;
  overflow: auto;
}
header .popup-overlay.signup .terms-and-conditions .title {
  margin-bottom: 0.9375rem;
}
header .popup-overlay.signup .terms-and-conditions.visible {
  transform: translateY(0%);
}
header .popup-overlay.signup .success-dialog {
  display: none;
}
header .popup-overlay.signup .success-dialog .title {
  margin-bottom: 0.9375rem;
}
header .popup-overlay.my-account .popup {
  width: 62.5rem;
  padding: 2.5rem;
}
header .popup-overlay.my-account .popup .bar {
  background: rgba(0, 0, 0, 0.03);
  border-radius: 0.3125rem;
  overflow: hidden;
  box-shadow: 0 0 0.625rem rgba(0, 0, 0, 0.04);
}
header .popup-overlay.my-account .popup .bar ul {
  display: flex;
  align-items: center;
  height: 2.5rem;
}
header .popup-overlay.my-account .popup .bar ul li {
  display: flex;
  align-items: center;
  height: 100%;
  padding: 0 2.5rem;
  transition: 0.1s;
  cursor: pointer;
}
header .popup-overlay.my-account .popup .bar ul li:hover {
  background: rgba(0, 0, 0, 0.03);
}
header .popup-overlay.my-account .popup .bar ul li.active {
  background: linear-gradient(90deg, #0072ff 0%, #00d4ff 100%);
  color: #fff;
}
header .popup-overlay.my-account .popup .body {
  overflow: hidden;
}
header .popup-overlay.my-account .popup .body .controler {
  display: flex;
  transition: transform 0.6s ease-out;
}
header .popup-overlay.my-account .popup .body .controler.show-orders {
  transform: translateX(-100%);
}
header .popup-overlay.my-account .popup .body .controler .my-orders,
header .popup-overlay.my-account .popup .body .controler .my-profile {
  flex-shrink: 0;
  width: 100%;
}
header .popup-overlay.my-account .popup .body .controler .my-profile {
  transform: translateX(0%);
}
header .popup-overlay.my-account .popup .body .controler .my-profile .half {
  float: left;
  width: 50%;
  margin-top: 1.875rem;
}
header .popup-overlay.my-account .popup .body .controler .my-profile .half .infos {
  margin-top: 1.25rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 90%;
}
header .popup-overlay.my-account .popup .body .controler .my-profile .half .infos li {
  display: flex;
  height: 2.8125rem;
  box-sizing: border-box;
  margin-bottom: 0.9375rem;
}
header .popup-overlay.my-account .popup .body .controler .my-profile .half .infos li .desc {
  height: 100%;
  display: flex;
  align-items: center;
  width: 7.5rem;
  font-family: "Roboto-Medium";
}
header .popup-overlay.my-account .popup .body .controler .my-profile .half .infos li .info {
  height: 100%;
  width: calc(100% - 140 * 0.0625rem);
  display: flex;
  align-items: center;
  background: #f7f7f7;
  padding: 0 0.625rem;
  border-radius: 0.3125rem;
  box-shadow: 0 0 0.625rem rgba(0, 0, 0, 0.04);
}
header .popup-overlay.my-account .popup .body .controler .my-profile .half .infos li .info .status {
  font-family: "Roboto-Medium";
  letter-spacing: 0.01875rem;
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  align-items: center;
}
header .popup-overlay.my-account .popup .body .controler .my-profile .half .infos li .info .status.verified {
  color: #03a000;
}
header .popup-overlay.my-account .popup .body .controler .my-profile .half .infos li .info .status.not-verified {
  color: #da4c4c;
}
header .popup-overlay.my-account .popup .body .controler .my-profile .half .infos li .info .status i {
  font-size: 1.375rem;
}
header .popup-overlay.my-account .popup .body .controler .my-profile .half h1 {
  text-align: center;
  margin-bottom: 0.9375rem;
}
header .popup-overlay.my-account .popup .body .controler .my-profile .half form {
  margin-top: 0;
}
header .popup-overlay.my-account .popup .body .controler .my-profile .half form ul li {
  width: 100%;
}
header .popup-overlay.my-account .popup .body .controler .my-profile .half form ul li .btn {
  transition: 0.3s;
}
header .popup-overlay.my-account .popup .body .controler .my-profile .half form ul li .btn:hover {
  box-shadow: inset calc(25.3125rem) 0 0.625rem #0072ff;
}
header .popup-overlay.my-account .popup .body .controler .my-profile .half form.success {
  display: none;
}
header .popup-overlay.my-account .popup .body .controler .my-profile .half form.success + .success-dialog {
  display: flex;
}
header .popup-overlay.my-account .popup .body .controler .my-profile .half .success-dialog {
  display: none;
  height: 11.25rem;
  align-items: center;
}
header .popup-overlay.my-account .popup .body .controler .my-profile .half .success-dialog.visible {
  display: flex;
}
header .popup-overlay.my-account .popup .body .controler .my-profile .half:last-child {
  padding-left: 4.375rem;
  box-sizing: border-box;
}
header .popup-overlay.my-account .popup .body .controler .my-orders h1 {
  padding: 0.9375rem 0;
}
header .popup-overlay.my-account .popup .body .controler .my-orders table {
  border-collapse: collapse;
  width: 100%;
  overflow: hidden;
}
header .popup-overlay.my-account .popup .body .controler .my-orders table thead {
  background: #fff;
  text-align: left;
}
header .popup-overlay.my-account .popup .body .controler .my-orders table thead th {
  padding-bottom: 0.4375rem;
  color: #2b2b2b;
}
header .popup-overlay.my-account .popup .body .controler .my-orders table td,
header .popup-overlay.my-account .popup .body .controler .my-orders table th {
  padding: 0.875rem;
  box-sizing: border-box;
}
header .popup-overlay.my-account .popup .body .controler .my-orders table tr td:first-child {
  width: 10%;
}
header .popup-overlay.my-account .popup .body .controler .my-orders table tbody tr {
  border-top: 0.0625rem solid #eaeaea;
  transition: 0.3s;
}
header .popup-overlay.my-account .popup .body .controler .my-orders table tbody tr:last-child {
  border-bottom: 0.0625rem solid #eaeaea;
}
header .popup-overlay.my-account .popup .body .controler .my-orders table tbody tr:nth-child(even) {
  background: #f7f7f7;
}
header .popup-overlay.my-account .popup .body .controler .my-orders table tbody tr:hover {
  background: #e8e8e8 !important;
}
header .popup-overlay.paypal {
  transform: translateY(0);
}
header .popup-overlay.paypal .popup {
  height: 8.125rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
header .popup-overlay.paypal .popup .information {
  font-size: 1.875rem;
}

form .title {
  margin-bottom: 1.875rem;
}
form ul {
  display: flex;
  flex-direction: column;
  align-items: center;
}
form ul li {
  position: relative;
  width: calc(100% - 100 * 0.0625rem);
  margin-bottom: 1.875rem;
}
form ul li:last-child {
  margin-bottom: 0;
}
form ul li .forgot {
  position: absolute;
  top: 0;
  right: 0.25rem;
  height: 100%;
  display: flex;
  align-items: center;
  color: #888;
  font-family: "Roboto-Medium";
  cursor: pointer;
}
form ul li .forgot:hover {
  text-decoration: underline;
  color: #999;
}
form ul li i {
  display: flex !important;
  position: absolute;
  top: 0;
  align-items: center;
  height: 100%;
  right: 0;
  color: #9a9a9a;
  cursor: help;
}
form ul li i::after {
  content: attr(information);
  position: absolute;
  right: 1.25rem;
  display: flex;
  align-items: center;
  background: #f1f1f1;
  padding: 0.375rem 0.625rem;
  width: 8.125rem;
  font-family: "Roboto-Regular";
  font-size: 0.6875rem;
  border-radius: 0.3125rem;
  display: none;
}
form ul li i:hover::after {
  display: block;
}
form ul li input,
form ul li textarea {
  border: none;
  outline: none;
  border-bottom: 0.125rem solid rgba(119, 119, 119, 0.1);
  padding-right: 0.1875rem;
  width: 100%;
  color: #333;
  height: 2.8125rem;
  font-size: 1rem;
  font-family: "Roboto-Medium";
  background: transparent;
  box-sizing: border-box;
}
form ul li input:focus ~ i::after,
form ul li textarea:focus ~ i::after {
  display: block;
}
form ul li input:focus + label,
form ul li textarea:focus + label {
  top: -0.9375rem;
  font-size: 0.75rem;
  background: linear-gradient(90deg, #0072ff 0%, #00d4ff 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
form ul li input + label,
form ul li textarea + label {
  position: absolute;
  left: 0;
  top: 0.9375rem;
  color: #9a9a9a;
  font-size: 0.875rem;
  pointer-events: none;
  transition: all 200ms ease-in-out;
  text-transform: capitalize;
  font-family: "Roboto-Black";
}
form ul li input + label.active,
form ul li textarea + label.active {
  top: -0.375rem;
  font-size: 0.75rem;
  background: linear-gradient(90deg, #0072ff 0%, #00d4ff 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
form ul li input[type=password],
form ul li textarea[type=password] {
  padding-right: 4.0625rem;
}
form ul li input[type=checkbox], form ul li input[type=radio],
form ul li textarea[type=checkbox],
form ul li textarea[type=radio] {
  height: auto;
  width: auto;
}
form ul li input[type=submit],
form ul li textarea[type=submit] {
  border: none;
  color: #fff;
  transition: 0.3s;
  transition: 0.1s;
}
form ul li input[type=submit]:hover,
form ul li textarea[type=submit]:hover {
  box-shadow: inset calc(21.5625rem) 0 0.625rem #0072ff;
}
form ul li input[type=submit]:active,
form ul li textarea[type=submit]:active {
  transform: scale(0.98);
}
form ul li textarea {
  resize: none;
  height: 11.25rem;
  padding-top: 0.9375rem !important;
}
form ul li textarea ~ span.border {
  bottom: 0.25rem;
}
form ul li span.border {
  position: absolute;
  display: block;
  right: 0;
  left: 0;
  bottom: 0;
  margin: auto;
  height: 0.125rem;
  width: 0;
  transition: width 0.3s;
}
form ul li span.border.fucused {
  background: linear-gradient(90deg, #0072ff 0%, #00d4ff 100%);
  width: 100%;
}
form ul li.not-valid:not(.submit) {
  animation-duration: 0.7s;
}
form ul li.not-valid:not(.submit) input,
form ul li.not-valid:not(.submit) textarea {
  border-bottom: 0.125rem solid #da4c4c;
}
form ul li.not-valid:not(.submit) input + label,
form ul li.not-valid:not(.submit) textarea + label {
  background: #da4c4c;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
form ul li.not-valid:not(.submit) span.border {
  background: #da4c4c !important;
}
form ul li.not-valid:not(.submit) span.border.fucused {
  background: linear-gradient(90deg, #0072ff 0%, #00d4ff 100%);
}
form .err-txt {
  color: #da4c4c;
  text-align: center;
  margin-top: -0.625rem;
  animation: none;
}
form .check {
  display: block;
  position: relative;
  padding-left: 1.875rem;
  line-height: 1.1875rem;
  user-select: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  height: 1.125rem;
}
form .check input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: auto;
}
form .check .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 1.125rem;
  width: 1.125rem;
  background-color: #bfbfbf;
  border-radius: 0.3125rem;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.2s;
}
form .check .checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
form .check:hover input ~ .checkmark {
  opacity: 1;
}
form .check input:checked ~ .checkmark {
  background: linear-gradient(90deg, #0072ff 0%, #00d4ff 100%);
}
form .check input:checked ~ .checkmark:after {
  display: block;
}
form .check .checkmark:after {
  margin-top: -0.0625rem;
  width: 0.1875rem;
  height: 0.5rem;
  border: solid white;
  border-width: 0 0.125rem 0.125rem 0;
  transform: rotate(45deg);
}
form .check span {
  font-family: "Roboto-Medium";
}
form .check span > span {
  text-decoration: underline;
  font-size: 0.875rem;
  transition: 0.2s;
}
form .check span > span:hover {
  opacity: 0.8;
}

section {
  position: relative;
  overflow: hidden;
  padding: 5.625rem 0;
  box-sizing: border-box;
}
section.background-image {
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
section.background-image::after {
  content: "";
  background: rgba(0, 0, 0, 0.8);
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: block;
}
section h1 {
  font-family: "Roboto-Bold";
  font-size: 2.1875rem;
  text-align: center;
}
section .social {
  position: fixed;
  display: flex;
  align-items: center;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 9;
}
section .social ul {
  background: rgba(0, 0, 0, 0.24);
  box-shadow: 0 0 1.25rem rgba(0, 0, 0, 0.1);
  border: 0.0625rem solid rgba(255, 255, 255, 0.05);
  border-left: 0;
}
section .social ul li {
  transition: background 0.3s, color 0.3s;
}
section .social ul li:not(:last-child) {
  border-bottom: 0.0625rem solid rgba(255, 255, 255, 0.05);
}
section .social ul li a {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1.875rem;
  color: inherit;
  font-size: 1.1875rem;
  width: 4.375rem;
  height: 4.375rem;
  box-sizing: border-box;
}
section .social ul li:first-child:hover {
  background: #3b5999;
  color: #fff;
}
section .social ul li:nth-child(2):hover {
  background: #e4405f;
  color: #fff;
}
section .social ul li:nth-child(3):hover {
  background: #cd201f;
  color: #fff;
}
section .social ul li:nth-child(4):hover {
  background: #7289da;
  color: #fff;
}
section .middle {
  position: relative;
}

#aboutus {
  background-image: url("../assets/images/yone.png");
  width: 100%;
  color: #fff;
  font-family: "Roboto-Medium";
  padding: 0;
}
#aboutus .middle {
  z-index: 9;
}
#aboutus .container {
  position: relative;
  z-index: 0;
  height: 99vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding-top: 7vw;
  box-sizing: border-box;
}
#aboutus .container .text {
  text-align: center;
}
#aboutus .container .text .logo {
  background: linear-gradient(90deg, #0072ff 0%, #00d4ff 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
#aboutus .container .text h1 {
  font-size: 4rem;
  font-weight: 700;
  margin-bottom: 1rem;
}
#aboutus .container .text p {
  font-size: 1rem;
  line-height: 1.6rem;
  font-family: "Roboto-Light";
  text-align: center;
  margin: auto;
  width: 50%;
}
#aboutus .container .btn {
  height: 3.125rem;
  width: 8.75rem;
  transition: 0.3s;
}
#aboutus .container .btn:hover {
  box-shadow: inset calc(10.3125rem) 0 0.625rem #0072ff;
}
#aboutus .container .scroll-down {
  transform: initial;
}
#aboutus .container .scroll-down .scroll {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 1vw;
  color: white;
  z-index: 9;
  width: 3.4375rem;
  margin: auto;
  font-size: 3.4375rem;
  animation: scroll 1.4s infinite;
}
@keyframes scroll {
  0% {
    transform: translate(0, -1.25rem);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: translate(0, 1.25rem);
    opacity: 0;
  }
}

#service .boosts ul {
  text-align: center;
  overflow: auto;
  white-space: nowrap;
  margin-bottom: 5.3125rem;
}
#service .boosts ul li {
  margin: 0 2.8125rem;
  cursor: pointer;
  text-align: center;
  transition: 0.3s;
  user-select: none;
  display: inline-block;
  vertical-align: top;
  transition: 0.5s ease-out;
}
#service .boosts ul li:active .icon {
  transform: scale(0.8);
}
#service .boosts ul li .icon {
  overflow: hidden;
  width: 5.9375rem;
  height: 5.9375rem;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0.3125rem 1.25rem 0 rgba(0, 0, 0, 0.1);
  color: #9494a4;
  background: #fff;
  border-radius: 0.625rem;
  transition: all 0.2s ease-out;
}
#service .boosts ul li .icon img {
  width: 3.4375rem;
  filter: invert(0.4);
}
#service .boosts ul li p {
  text-transform: uppercase;
  padding: 0.625rem 0;
  font-family: "Roboto-Bold";
  font-size: 0.9375rem;
  color: #9494a4;
}
#service .boosts ul li.active .icon, #service .boosts ul li:hover .icon {
  color: #fff;
  background: #0072ff;
}
#service .boosts ul li.active .icon img, #service .boosts ul li:hover .icon img {
  filter: invert(1);
}
#service .league-service {
  text-align: center;
}
#service .league-service h1 {
  font-family: "Roboto-Bold";
  font-size: 2.1875rem;
  padding-bottom: 0.625rem;
}
#service .league-service span {
  font-family: "Roboto-Light";
  font-size: 1.0625rem;
  display: block;
}
#service .league-service .choose {
  margin-top: 3.375rem;
  display: flex;
  justify-content: center;
}
#service .league-service .choose ul {
  display: flex;
  width: 66.25rem;
  flex-wrap: wrap;
}
#service .league-service .choose ul > li {
  flex-shrink: 0;
}
#service .league-service .choose ul > li:nth-child(1), #service .league-service .choose ul > li:nth-child(2) {
  width: 30%;
}
#service .league-service .choose ul > li.not-badges:nth-child(3), #service .league-service .choose ul > li.not-badges:nth-child(4) {
  width: 20%;
}
#service .league-service .choose ul > li.not-badges:nth-child(3) .list-wrapper, #service .league-service .choose ul > li.not-badges:nth-child(4) .list-wrapper {
  width: calc(100% - 30 * 0.0625rem);
}
#service .league-service .choose ul > li .inc-dec {
  font-size: 1rem;
  margin-top: 1.875rem;
  font-family: "Roboto-Medium";
  display: flex;
  justify-content: space-between;
}
#service .league-service .choose ul > li .inc-dec .inc, #service .league-service .choose ul > li .inc-dec .dec, #service .league-service .choose ul > li .inc-dec .val {
  height: 3rem;
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
  border-radius: 0.3125rem;
  border: 0.125rem solid transparent;
  box-shadow: 0 0 1.25rem 0 rgba(0, 0, 0, 0.1);
  transition: 120ms ease-in-out;
}
#service .league-service .choose ul > li .inc-dec .inc.inc, #service .league-service .choose ul > li .inc-dec .inc.dec, #service .league-service .choose ul > li .inc-dec .dec.inc, #service .league-service .choose ul > li .inc-dec .dec.dec, #service .league-service .choose ul > li .inc-dec .val.inc, #service .league-service .choose ul > li .inc-dec .val.dec {
  user-select: none;
  cursor: pointer;
  font-size: 1.375rem;
}
#service .league-service .choose ul > li .inc-dec .inc.inc:active, #service .league-service .choose ul > li .inc-dec .inc.dec:active, #service .league-service .choose ul > li .inc-dec .dec.inc:active, #service .league-service .choose ul > li .inc-dec .dec.dec:active, #service .league-service .choose ul > li .inc-dec .val.inc:active, #service .league-service .choose ul > li .inc-dec .val.dec:active {
  background: #0072ff;
  color: #fff;
}
#service .league-service .choose ul > li .inc-dec .inc.inc:hover, #service .league-service .choose ul > li .inc-dec .inc.dec:hover, #service .league-service .choose ul > li .inc-dec .dec.inc:hover, #service .league-service .choose ul > li .inc-dec .dec.dec:hover, #service .league-service .choose ul > li .inc-dec .val.inc:hover, #service .league-service .choose ul > li .inc-dec .val.dec:hover {
  border: 0.125rem solid #0072ff;
}
#service .league-service .choose ul > li .inc-dec .inc.val, #service .league-service .choose ul > li .inc-dec .dec.val, #service .league-service .choose ul > li .inc-dec .val.val {
  width: 50%;
}
#service .league-service .choose ul > li.type-of-service {
  width: 40%;
}
#service .league-service .choose ul > li.type-of-service .services-wrapper {
  margin-top: 1.875rem;
  text-align: left;
  display: flex;
  justify-content: space-between;
}
#service .league-service .choose ul > li.type-of-service .services-wrapper .service {
  position: relative;
  width: 48%;
  cursor: pointer;
  font-size: 0.875rem;
  user-select: none;
  height: 2.9375rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.3125rem;
  background: #fff;
  border: 0.125rem solid transparent;
  box-shadow: 0 0 1.25rem 0 rgba(0, 0, 0, 0.1);
  padding: 0 0.625rem;
  box-sizing: border-box;
  font-family: "Roboto-Medium";
  transition: 120ms ease-in-out;
}
#service .league-service .choose ul > li.type-of-service .services-wrapper .service img.icon {
  position: absolute;
  bottom: 0.3125rem;
  left: 0.3125rem;
  height: 3.25rem;
}
#service .league-service .choose ul > li.type-of-service .services-wrapper .service span {
  font-family: "Roboto-Medium";
  font-size: 0.875rem;
}
#service .league-service .choose ul > li.type-of-service .services-wrapper .service:hover {
  opacity: 0.9;
  border: 0.125rem solid #0072ff;
}
#service .league-service .choose ul > li.type-of-service .services-wrapper .service.active {
  border: 0.125rem solid #fff;
  background: #0072ff;
  color: #fff;
}
#service .league-service .choose ul > li.type-of-service .services-wrapper .service.active:hover {
  opacity: 1;
}
#service .league-service .choose ul > li.type-of-service .services-wrapper .service:active {
  transform: scale(0.95);
}
#service .league-service .choose ul > li .name {
  height: 2.5rem;
  display: flex;
  align-items: center;
  font-family: "Roboto-Black";
  font-size: 0.9375rem;
}
#service .league-service .choose ul > li .name span {
  height: 2.5rem;
  width: 2.5rem;
  display: inline-block;
  color: #fff;
  background: #0072ff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.625rem;
  margin-right: 0.9375rem;
  font-weight: bold;
}
#service .league-service .choose ul > li .list-wrapper {
  position: relative;
  text-align: left;
  margin-top: 1.875rem;
  padding-right: 1.375rem;
  width: calc(100% - 128 * 0.0625rem);
  margin-bottom: 2.25rem;
}
#service .league-service .choose ul > li .list-wrapper .list {
  position: relative;
  width: 100%;
  margin-bottom: 0.625rem;
}
#service .league-service .choose ul > li .list-wrapper .list .select {
  position: relative;
}
#service .league-service .choose ul > li .list-wrapper .list .select.active i {
  transform: rotateX(180deg);
}
#service .league-service .choose ul > li .list-wrapper .list .select .control {
  width: 100%;
  height: 2.5rem;
  display: flex;
  align-items: center;
  border-radius: 0.3125rem;
  background: #ececec;
  padding: 0 0.625rem;
  box-sizing: border-box;
  font-family: "Roboto-Medium";
  cursor: pointer;
  transition: opacity 120ms ease-in-out;
}
#service .league-service .choose ul > li .list-wrapper .list .select .control:hover {
  opacity: 0.8;
}
#service .league-service .choose ul > li .list-wrapper .list .select i {
  position: absolute;
  right: 0.625rem;
  top: 0;
  display: flex;
  height: 100%;
  align-items: center;
  font-size: 1.5rem;
  cursor: pointer;
  transition: transform 0.2s;
}
#service .league-service .choose ul > li .list-wrapper .list .options {
  display: none;
  position: absolute;
  top: 2.3125rem;
  width: 99%;
  max-height: calc(6 * 43 * 0.0625rem);
  overflow-y: scroll;
  border: 0.0625rem solid rgba(0, 0, 0, 0.1);
  background: #fff;
  z-index: 9;
}
#service .league-service .choose ul > li .list-wrapper .list .options .option {
  height: 2.6875rem;
  padding: 0 0.625rem;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  border-bottom: 0.0625rem solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: background 0.3s ease-out;
}
#service .league-service .choose ul > li .list-wrapper .list .options .option.active, #service .league-service .choose ul > li .list-wrapper .list .options .option:hover {
  background: #f1f1f1;
}
#service .league-service .choose ul > li .list-wrapper .badges {
  position: absolute;
  right: -4.375rem;
  top: 0;
  width: 5.625rem;
}
#service .league-service .choose ul > li .list-wrapper .badges img {
  width: 100%;
}
#service .league-service #coaching .choose ul > li {
  width: calc(100%/4);
  padding-right: 1.875rem;
  box-sizing: border-box;
}
#service .league-service #coaching .choose ul > li .services-wrapper {
  flex-wrap: wrap;
}
#service .league-service #coaching .choose ul > li .services-wrapper .service {
  width: 100%;
  margin-bottom: 1.75rem;
}
#service .league-service #coaching .choose ul > li .list-wrapper {
  width: 100%;
}
#service .league-service #win-boosting ul li:last-child {
  margin-left: 2.5rem;
}
#service .total {
  display: flex;
  align-items: center;
  width: 66.25rem;
  margin: auto;
  justify-content: flex-end;
  padding-right: 1.875rem;
  box-sizing: border-box;
}
#service .total .price p {
  color: #5a5a5a;
  font-size: 1.5rem;
}
#service .total .btn {
  margin-left: 1.25rem;
  border: none;
  outline: none;
  transition: 0.3s;
}
#service .total .btn:hover {
  box-shadow: inset calc(8.4375rem) 0 0.625rem #0072ff;
}

#gallery {
  background-color: #cecece;
  background-image: url("../assets/images/gallery-cover.jpg");
  background-position: top;
  background-attachment: fixed;
  height: auto;
  color: #fff;
  text-align: center;
}
#gallery .middle {
  z-index: 9;
}
#gallery .photos {
  margin-top: 3.75rem;
}
#gallery .photos ul {
  width: 100%;
  overflow: hidden;
}
#gallery .photos ul li {
  position: relative;
  width: calc(100%/4 - 20 * 0.0625rem);
  margin: 0.625rem;
  float: left;
  border-radius: 0.3125rem;
  cursor: pointer;
  overflow: hidden;
  z-index: 9;
}
#gallery .photos ul li .img {
  background-image: url("../assets/images/yone.png");
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 60%;
  transition: 0.4s ease-out;
}
#gallery .photos ul li:hover .img {
  transform: scale(1.2);
}
#gallery .photos ul li .inf {
  position: absolute;
  left: 0.625rem;
  top: 0.625rem;
  display: block;
  background: linear-gradient(90deg, #0072ff 0%, #00d4ff 100%);
  padding: 0.4375rem 0.875rem;
  border-radius: 0.3125rem;
  text-transform: capitalize;
  min-width: 5.3125rem;
  box-sizing: border-box;
}
#gallery .photos .btn {
  display: none;
  margin: 3.125rem auto 0;
  width: 8.75rem;
  transition: 0.3s;
}
#gallery .photos .btn:hover {
  box-shadow: inset calc(10.3125rem) 0 0.625rem #0072ff;
}
#gallery .popup-overlay {
  display: none;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(23, 129, 254, 0.35);
  transition: transform 0.4s;
  z-index: 99;
}
#gallery .popup-overlay .popup {
  position: relative;
  max-height: 70%;
  width: 70%;
  background-color: #fff;
  overflow: hidden;
  border-radius: 0.3125rem;
  color: #333;
  box-sizing: border-box;
  box-shadow: 0 0 1.25rem rgba(255, 255, 255, 0.4);
  z-index: 99;
}
#gallery .popup-overlay .popup img.close {
  position: absolute;
  top: 0.9375rem;
  right: 0.9375rem;
  cursor: pointer;
  opacity: 0.6;
  transition: opacity 0.2s ease-in-out;
  filter: invert(1);
}
#gallery .popup-overlay .popup img.close:hover {
  opacity: 1;
}
#gallery .popup-overlay .popup .photo img {
  width: 100%;
  vertical-align: middle;
}
#gallery .popup-overlay.visible {
  display: flex;
  animation: 0.3s fade ease-out;
}
@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
#gallery .overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg, rgba(0, 114, 255, 0.5) 0%, rgba(0, 212, 255, 0.5) 100%);
}

#faq {
  height: auto;
}
#faq .middle {
  z-index: 9;
}
#faq .faq-wrapper {
  margin-top: 3.75rem;
}
#faq .faq-wrapper ul {
  width: 100%;
}
#faq .faq-wrapper ul li {
  margin-bottom: 1.25rem;
  background-color: #fff;
  border-radius: 0.3125rem;
  box-shadow: 0 0.125rem 1.5625rem rgba(36, 36, 36, 0.15);
  padding: 0 1.25rem;
  float: left;
  width: calc(100%/2 - 20 * 0.0625rem);
  box-sizing: border-box;
}
#faq .faq-wrapper ul li:nth-child(2n) {
  float: right;
  margin-left: 1.25rem;
}
#faq .faq-wrapper ul li .control {
  width: 100%;
  height: 3.375rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: "Roboto-Medium";
}
#faq .faq-wrapper ul li .control p {
  text-transform: capitalize;
}
#faq .faq-wrapper ul li .control i {
  display: none;
  transition: transform 0.2s;
}
#faq .faq-wrapper ul li .control i.active {
  transform: rotate(45deg);
}
#faq .faq-wrapper ul li .answer {
  background: #fff;
  padding: 0.625rem 0 1.875rem;
  box-sizing: border-box;
  overflow: hidden;
}

#contact {
  background-color: #cecece;
  background-image: url("../assets/images/contact.jpg");
  background-position: top;
  height: auto;
  color: #fff;
  text-align: center;
}
#contact .middle {
  z-index: 9;
}
#contact:after {
  height: 100% !important;
}
#contact form {
  position: relative;
  overflow: hidden;
  background: #fff;
  border-radius: 0.625rem;
  width: 43.75rem;
  margin: 4.375rem auto;
  padding: 2.5rem 1.25rem;
  box-sizing: border-box;
}
#contact form p {
  text-align: center;
  font-family: "Roboto-Black";
  font-size: 1rem;
  background: linear-gradient(90deg, #0072ff 0%, #00d4ff 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 1.25rem;
}
#contact form input[type=submit] {
  transition: 0.3s;
}
#contact form input[type=submit]:hover {
  box-shadow: inset calc(39.0625rem) 0 0.625rem #0072ff;
}
#contact form .spinner {
  display: none;
  justify-content: center;
  width: 100%;
}
#contact form .spinner div {
  background: linear-gradient(90deg, #0072ff 0%, #00d4ff 100%);
}
#contact form .success-dialog {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
  display: none;
}
#contact form .success-dialog .title {
  text-transform: capitalize;
  text-align: center;
  font-family: "Roboto-Black";
  font-size: 1.875rem;
  background: linear-gradient(90deg, #0072ff 0%, #00d4ff 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
#contact form.success .success-dialog {
  display: flex;
}

.scroll-top {
  position: fixed;
  right: 6.875rem;
  bottom: 8.25rem;
  width: 2.5rem;
  height: 2.5rem;
  line-height: 2.5rem;
  background: linear-gradient(90deg, #0072ff 0%, #00d4ff 100%);
  text-align: center;
  color: #fff;
  font-size: 1.5rem;
  font-weight: 700;
  border-radius: 0.1875rem;
  box-shadow: 0 0.3125rem 1.25rem 0 rgba(0, 0, 0, 0.1);
  transition: 120ms ease-in;
  border-radius: 0.3125rem;
  cursor: pointer;
  display: none;
}
.scroll-top:active {
  transform: scale(0.9);
}
.scroll-top:hover {
  filter: brightness(1.2);
}

footer {
  padding: 1.875rem 0;
  box-sizing: border-box;
  width: 100%;
  box-shadow: 0 0 0.75rem rgba(255, 255, 255, 0.3);
  background: #fff;
  position: unset;
  color: #777;
}
footer .middle {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
footer .middle p {
  font-family: "Roboto-Medium";
}
footer .middle .social-resp {
  display: none;
  margin: 1.25rem 0;
}
footer .middle .social-resp ul {
  display: flex;
  flex-direction: row;
}
footer .middle .social-resp ul li:first-child {
  color: #3b5999;
}
footer .middle .social-resp ul li:nth-child(2) {
  color: #e4405f;
}
footer .middle .social-resp ul li:nth-child(3) {
  color: #cd201f;
}
footer .middle .social-resp ul li:nth-child(4) {
  color: #7289da;
}
footer .middle .social-resp ul li a {
  padding: 1.25rem;
  display: block;
  font-size: 2rem;
}
footer .middle .inf ul {
  display: flex;
}
footer .middle .inf ul li {
  display: flex;
  align-items: center;
}
footer .middle .inf ul li:not(:last-child) {
  margin-right: 2.5rem;
}
footer .middle .inf ul li i {
  height: 2.5rem;
  width: 2.5rem;
  display: flex;
  float: left;
  color: #fff;
  justify-content: center;
  align-items: center;
  border-radius: 0.625rem;
  background: linear-gradient(90deg, #0072ff 0%, #00d4ff 100%);
  margin-right: 0.625rem;
}
footer .middle .inf ul li a {
  float: left;
  font-family: "Roboto-Medium";
}
footer .middle .inf ul li a:hover {
  text-decoration: underline;
}

@media screen and (max-width: 1350px) {
  .middle {
    width: 100%;
  }

  section .middle, footer .middle {
    padding: 0 1.25rem !important;
    box-sizing: border-box;
  }

  section .social {
    position: absolute;
  }

  .scroll-top {
    right: 1.25rem;
  }
}
@media screen and (max-width: 1150px) {
  #service .league-service .choose ul {
    justify-content: space-between;
    width: 80%;
  }
  #service .league-service .choose ul > li {
    width: calc(100%/2) !important;
  }
  #service .league-service .choose ul > li.not-badges:nth-child(3) .list-wrapper, #service .league-service .choose ul > li.not-badges:nth-child(4) .list-wrapper {
    width: calc(100% - 128 * 0.0625rem);
  }
  #service .total {
    margin-top: 2.5rem;
    width: 80%;
  }

  #service .league-service .choose ul > li.type-of-service .services-wrapper {
    flex-direction: column;
  }
  #service .league-service .choose ul > li.type-of-service .services-wrapper .service {
    width: calc(100% - 128 * 0.0625rem);
    margin-bottom: 1.75rem;
  }

  #service .league-service #win-boosting ul li:last-child {
    margin-left: 0;
  }

  #gallery .popup-overlay .popup {
    width: 90%;
  }
  #gallery .photos ul li {
    width: calc(100%/3 - 20 * 0.0625rem);
  }
}
@media screen and (max-width: 970px) {
  .preloader-wrapper .preloader .name {
    font-size: 8vw;
    margin-bottom: 4vw;
  }

  header {
    height: 3.75rem;
  }
  header .middle .menu-icon {
    display: block;
  }
  header .middle .right {
    position: fixed;
    z-index: 999;
    background: rgba(23, 129, 254, 0.7);
    height: 100%;
    top: 0;
    left: 0;
    width: 100%;
    transition: 0.3s ease-out;
    transform: translateY(-100%);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
  }
  header .middle .right nav {
    margin-right: 0;
  }
  header .middle .right nav ul {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  header .middle .right nav ul li {
    margin-bottom: 1.25rem;
  }
  header .middle .right nav ul li a::before {
    background: #fff !important;
  }
  header .middle .right.visible {
    transform: translateY(0);
  }

  #service .boosts ul li {
    margin: 0 1rem;
  }

  #aboutus .container .text h1 {
    font-size: 6.1vw;
  }
  #aboutus .container .text h1.logo {
    font-size: 8.7vw;
  }
  #aboutus .container .text p {
    width: 70%;
    font-size: 2vw;
  }
}
@media screen and (max-width: 768px) {
  html {
    font-size: 14px;
  }

  .preloader-wrapper .preloader .name {
    font-size: 9vw;
  }

  header .popup-overlay {
    z-index: 99999;
  }

  header .popup-overlay.my-account .popup .bar ul li {
    width: 100%;
    justify-content: center;
  }

  header .popup-overlay.my-account {
    padding: 0 0;
  }
  header .popup-overlay.my-account .popup {
    width: 62.5rem;
    padding: 3rem 2.5rem;
    overflow: auto;
    height: 100%;
  }
  header .popup-overlay.my-account .popup .half {
    width: 100% !important;
  }
  header .popup-overlay.my-account .popup .half:last-child {
    padding-left: 0 !important;
  }

  section .social {
    display: none;
  }

  #aboutus .container .text p {
    width: 95%;
    font-size: 2.5vw;
    line-height: unset;
  }

  footer .middle {
    flex-direction: column-reverse;
  }

  #service .league-service .choose ul {
    justify-content: space-between;
    width: 80%;
  }
  #service .league-service .choose ul > li {
    width: 100% !important;
  }
  #service .league-service .choose ul > li .name {
    justify-content: center;
  }
  #service .total {
    position: fixed;
    bottom: 0;
    z-index: 99;
    background: #fff;
    left: 0;
    width: 100%;
    padding: 1.4rem;
    box-sizing: border-box;
    box-shadow: 0 0 1.25rem 0 rgba(0, 0, 0, 0.1);
    transition: 0.3s ease-out;
    transform: translateY(100%);
  }
  #service .total.visible {
    transform: translateY(0);
  }
  #gallery .photos ul li {
    width: calc(100%/2 - 20 * 0.0625rem);
  }

  #contact {
    padding-bottom: 0;
  }
  #contact form {
    width: 100%;
  }

  footer .social-resp {
    display: block !important;
  }

  .scroll-top {
    display: none !important;
  }
}
@media screen and (max-width: 620px) {
  #faq .faq-wrapper ul li {
    width: 100%;
    margin-left: 0 !important;
  }

  footer {
    padding-top: 0;
    background: #fff;
    position: unset;
    color: #777;
  }
  footer .middle .inf ul {
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
  }
  footer .middle .inf ul li {
    margin-top: 1.875rem;
  }
  footer .middle .inf ul li:last-child {
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (max-width: 560px) {
  #aboutus .container .text p {
    font-size: 3vw;
  }

  header .popup-overlay {
    padding: 0 0;
  }

  header .popup-overlay .popup {
    padding: 1.25rem 0;
    border-radius: 0;
    height: 100%;
  }

  #contact form {
    padding: 2.5rem 0;
  }
}
@media screen and (max-width: 480px) {
  #aboutus .container .text p {
    font-size: 3.3vw;
  }

  #gallery .photos ul li {
    width: 100%;
    margin: 0.625rem 0;
  }

  footer .middle .inf ul {
    flex-direction: column;
  }
  footer .middle .inf ul li {
    margin-left: auto;
    margin-right: auto !important;
  }
}
@media screen and (max-width: 440px) {
  form ul li {
    width: calc(100% - 4rem);
  }
}
@media screen and (max-height: 580px) {
  .scroll {
    display: none;
  }
}

/*# sourceMappingURL=style.css.map */
.wrapper{
  margin-top: 10%;
  background: url("../assets/images/bg1.jpg");
  
}

.wrapper h1{
  font-family: "Roboto-Medium";
  font-size: 52px;
  margin-bottom: 60px;
  text-align: center;
}

.team{
  display: flex;
  justify-content: center;
  width: auto;
  text-align: center;
  flex-wrap: wrap;
}

.team .team_member{
  background: #fff;
  margin: 5px;
  margin-bottom: 50px;
  width: 300px;
  padding: 20px;
  line-height: 20px;
  color: #8e8b8b;  
  position: relative;
}

.team .team_member h3{
  color: #81c644;
  font-size: 26px;
  margin-top: 50px;
}

.team .team_member p.role{
  color: #ccc;
  margin: 12px 0;
  font-size: 12px;
  text-transform: uppercase;
}

.team .team_member .team_img{
  position: absolute;
  top: -50px;
  left: 50%;
  transform: translateX(-50%);
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: #fff;
}

.team .team_member .team_img img{
  width: 100px;
  height: 100px;
  padding: 5px;
}
